@using RepositorioPictureManager.Models
@model List<PHOTO>

@{
    ViewBag.Title = "ManagePhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sesion = Request["idSesion"];
}
@section styles{
    <style>
        .btn {
            width: 100%;
            margin: 1.5em 0;
            height: 3rem;
        }

        .img {
            width: 240px;
            height: 240px;
            object-fit: contain;
        }

        .gallery .card .card-content {
            padding: 1px;
        }

        .check {
            visibility: hidden;
        }
    </style>

    <link href="~/Content/PreviewImage.css" rel="stylesheet" />
}

@section events{
    <script>
        $(document).ready(function () {
            M.AutoInit();

            var flag = true;

            $(".triggerImage").click(function () {
                $("#modalPreview").css("display", "block");
                console.log($(this).parents(".box"));
                $("#imagePreview").attr("src", $(this).parents(".box").children(".card-image").children("label").children("img").attr("src"));

            });

            $("#modalPreview").click(function () {
                $(this).css("display", "none");
            });

            $(".img").click(function () {

                if (!$(this).parents(".box").children(".card-image").children("input").prop("checked")) {
                    $(this).parents(".box").children(".card-content").children(".card-action").children("div").children(".check").css("visibility", "visible");
                }
                else {
                    $(this).parents(".box").children(".card-content").children(".card-action").children("div").children(".check").css("visibility", "hidden");
                }

            });

            $("#delete").click(function () {
                var array = new Array();
                $("input[type=checkbox]:checked").each(function () {
                    array.push($(this).attr("id"));
                });
                var sesion = @ViewBag.Sesion;
                console.log(array);
                console.log(sesion);

                var formData = new FormData();
                formData.append("idPhotos", array);
                formData.append("idSesion", sesion);
                $.ajax({
                    type: "POST",
                    url: "/Images/DeleteImages",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data) {
                            location.reload();
                        }
                    }
                });

            });

            $("#order").click(function () {
                var array = new Array();
                $("input[type=checkbox]").each(function () {
                    array.push($(this).attr("id"));
                });
                console.log(array);

                var formData = new FormData();
                formData.append("idPhotos", array);
                $.ajax({
                    type: "POST",
                    url: "/Images/OrderPhotos",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data) {
                            M.toast({ html: 'Se han ordenado las fotos correctamente!' });                            
                        }
                    }
                });
            });

            $("#move").click(function () {
                var array = new Array();
                $("input[type=checkbox]:checked").each(function () {
                    array.push($(this).attr("id"));
                });
                var sesion = @ViewBag.Sesion;
                var destinationSession = $("#sessions").val();

                console.log(array);
                console.log(sesion);
                console.log(destinationSession);

                var formData = new FormData();
                formData.append("idPhotos", array);
                formData.append("oldSession", sesion);
                formData.append("session", destinationSession);

                $.ajax({
                    type: "POST",
                    url: "/Images/MovePhotos",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data) {
                            M.toast({ html: 'Se han movido las fotos a otra sesión correctamente!' });
                        }
                        setTimeout(function () {
                            location.reload();
                        },2000);
                    }
                });

            });

            var origenCaja = "";

            $(".box")
                .on("dragover", function (e) {
                    //RECOGEMOS INFORMACION DE LA IMAGEN ORIGEN
                    e.preventDefault();
                    if (flag) {
                        origenCaja = $(this).attr("id");
                        //origenCaja = origenCaja.split('_')[1];
                        console.log(origenCaja);
                        flag = false;
                    }
                }).on("drop", function (e) {
                    //INTERCAMBIAMOS INFORMACION ENTRE LA IMAGEN ORIGEN Y LA DE DESTINO
                    e.preventDefault();
                    var destinoCaja = $(this).attr('id');

                    /* Intercambio de imagenes */
                    var origenImagen = $("#" + origenCaja + ">.card-image>label>img").attr('src');
                    var destinoImagen = $("#" + destinoCaja + ">.card-image>label>img").attr('src');

                    $("#" + destinoCaja + ">.card-image>label>img").attr('src',origenImagen);
                    $("#" + origenCaja + ">.card-image>label>img").attr('src', destinoImagen);

                    /* Intercambio de ids en checkboxes y referencias de labels */
                    var origenCheck = $("#" + origenCaja + ">.card-image>input").attr("id");
                     
                    var destinoCheck = $("#" + destinoCaja + ">.card-image>input").attr("id");

                    $("#" + origenCaja + ">.card-image>input").attr("id", destinoCheck);
                    $("#" + origenCaja + ">.card-image>label").attr('for',destinoCheck);
                    $("#" + destinoCaja + ">.card-image>input").attr("id", origenCheck);
                    $("#" + destinoCaja + ">.card-image>label").attr('for', origenCheck);


                    /* Intercambio textos */
                    var origenTextoImagen = $("#" + origenCaja + ">.card-content>.card-action>div>span").text();
                    var destinoTextoImagen = $("#" + destinoCaja + ">.card-content>.card-action>div>span").text();

                    $("#" + origenCaja + ">.card-content>.card-action>div>span").text(destinoTextoImagen);
                    $("#" + destinoCaja + ">.card-content>.card-action>div>span").text(origenTextoImagen);

                    console.log(origenTextoImagen);

                    flag = true;
                });

        });

    </script>
    <script src="~/Scripts/scriptUploadImages.js"></script>
}

<div class="row" style="padding: 1rem 1.2rem;">

    <div class="col s12 m7 l8 xl9">
        <div class="row gallery">
            @if (Model.Count() > 0)
            {
                foreach (PHOTO p in Model)
                {
                    <div class="col s12 m3">
                        <div class="card col s12">
                            <div id="div_@p.ID" class="box">
                                <div class="card-image">
                                    <input type="checkbox" id="@p.ID" /><label for="@p.ID"><img src="~/images/Sesion/@ViewBag.SessionName/@p.PICTURE" draggable="true" id="img_@p.ID" class="img" /></label>
                                    @*<div style="position: relative; width: 0; height: 0">
                                            <div class="check">
                                                <img src="~/images/check.png" />
                                            </div>
                                        </div>*@
                                </div>
                                <div class="card-content">
                                    <div class="card-action">
                                        <div>
                                            <span class="triggerImage">@p.PICTURE</span>
                                            <i class="material-icons check" style="color:green; float: right">check</i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                }

            }
            else
            {
                <h1>¡No hay fotos actualmente!</h1>
                <h1>¡Intenta subir unas cuantas!</h1>
            }

        </div>
    </div>

    <div class="col s12 m5 l4 xl3">
        <div class="card" style="height:100%">
            <div class="card-content">
                <div class="input-field">
                    <span class="card-title" style="display: flex;
    justify-content: center;
    align-items: center;"><i class="material-icons" style="margin: 0 10px; font-size:2.2rem;">panorama</i>Mover Fotos</span>
                    <select id="sessions">
                        <option value="null" disabled selected>Selecciona una sessión</option>
                        @foreach (SESION s in ViewBag.Sessions)
                        {
                            <option value="@s.ID">@s.NAME</option>
                        }
                    </select>
                    <button type="button" id="move" class="btn waves-effect waves-darken green">Mover</button>
                </div>
                <div class="input-field">
                    <span class="card-title" style="display: flex;
    justify-content: center;
    align-items: center;"><i class="material-icons" style="margin: 0 10px; font-size: 2.2rem">photo_library</i>Ordenar Fotos</span>
                    <button type="button" id="order" class="btn waves-effect waves-darken green">Ordenar</button>
                </div>
                <div class="separador" style="width: 100%;    height: 1px;background: rgba(0, 0, 0, 0.12941176470588237);"></div>
                <div class="input-field">
                    <button type="button" id="delete" class="btn waves-effect waves-darken red">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div id="modalPreview" class="modal-Preview">
    <span class="close">&times;</span>
    <img class="modal-content-Preview" id="imagePreview">
    <div id="caption"></div>
</div>
