@using RepositorioPictureManager.Models
@model List<COMISION>

@{
    ViewBag.Title = "Comision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section events {
    <script>
        $(document).ready(function () {
           

            $("#photo").change(function () {
                readImage(this);
            });
            $("#photo").mouseenter(function () {
                if (this.files[0]) {
                    $("#divPreview").css("display", "block");
                }
            });
            $("#photo").mouseleave(function () {
                    if (this.files[0]) {
                        $("#divPreview").css("display", "none");
                    }
            });
            var origenImagen = "";
            var origenCaja = "";
            var origenTitulo = "";

            var flag = true;
            $(".box")
                .on("dragover", function (e) {
                    //RECOGEMOS INFORMACION DE LA IMAGEN ORIGEN
                    e.preventDefault();
                    if (flag) {
                        origenCaja = $(this).attr("id");
                        origenImagen = $("#" + origenCaja + ">img").attr('src');
                        origenTitulo = $("#" + origenCaja + ">.card-title").text();
                        flag = false;
                    }
                }).on("drop", function (e) {
                    //INTERCAMBIAMOS INFORMACION ENTRE LA IMAGEN ORIGEN Y LA DE DESTINO
                    e.preventDefault();
                    var destinoCaja = $(this).attr('id');
                    var destinoImagen = $("#" + destinoCaja + ">img").attr('src');
                    var destinoTitulo = $("#" + destinoCaja + ">.card-title").text();

                    //Intercambio de imagenes
                    $("#" + destinoCaja + ">img").attr('src', origenImagen);
                    $("#" + origenCaja + ">img").attr("src", destinoImagen);

                    //Intercambio de titulos
                    $("#" + destinoCaja + ">.card-title").text(origenTitulo);
                    $("#" + origenCaja + ">.card-title").text(destinoTitulo);

                    //Intercambio de inputs
                    //Price
                    var priceOrigen = $("#" + origenCaja + ">input[name=price]").val();
                    var priceDestino = $("#" + destinoCaja + ">input[name=price]").val();
                    $("#" + origenCaja + ">input[name=price]").val(priceDestino);
                    $("#" + destinoCaja + ">input[name=price]").val(priceOrigen);

                    //Description
                    var descriptionOrigen = $("#" + origenCaja + ">input[name=description]").val();
                    var descriptionDestino = $("#" + destinoCaja + ">input[name=description]").val();
                    $("#" + origenCaja + ">input[name=description]").val(descriptionDestino);
                    $("#" + destinoCaja + ">input[name=description]").val(descriptionOrigen);

                    //Intercambio de IDs
                    var idOrigen = origenCaja;
                    var idDestino = destinoCaja;

                    var aux = "abcdefg"; //Auxiliar para que no se acoplen los ID
                    $("#" + origenCaja).attr("id", aux);
                    $("#" + destinoCaja).attr("id", idOrigen);
                    $("#" + aux).attr("id", idDestino);

                    flag = true;
                }).click(function () {
                    var id = $(this).attr("id"); 
                    var price = $("#" + id + ">input[name=price]").val();
                    var description = $("#" + id + ">input[name=description]").val();
                    console.log(price);
                    console.log(description);

                    //Poner valores de las comisiones en el formulario
                    $("#formComision input[name=name]").focus();
                    $("#formComision input[name=name]").val($("#" + id + ">.card-title").text().trim());

                    $("#formComision textarea[name=description]").val(description);

                    $("#formComision input[name=price]").focus();
                    $("#formComision input[name=price]").val(price);

                    $("#formComision input[name=price]").blur();

                    $("#formComision input[name=id]").val(id);

                });

            $("#btnOrdenar").click(function () {
                var arrayId = $(".box");
                var arrayId = [];
                $.each($(".box"), function (index, value) {
                    arrayId.push($(value).attr('id'));
                });
                console.log(arrayId);
                var json = { order: arrayId };
                $.ajax({
                    method: "POST",
                    url: "/Comision/OrderComision",
                    data: json,
                    success: function (data) {
                        M.toast({ html: '¡Se han ordenado correctamente!' })
                    }
                });
            });
        });

        function readImage(input) {
            if (input.files[0]) {
                var reader = new FileReader();
            } else {
                $("#divPreview").css("display", "none");
            }
            reader.onload = function (e) {
                $("#preview").attr("src", e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }

    </script>
}
<div class="row">
    <div class="col s12 m5 l5 xl5 offset-m1 offset-l1 offset-xl1">
        <div class="card">
            <div class="card-title center-align" style="margin:0 !important; padding: 0 !important">Comisión</div>
            <div class="card-content" style="padding-top: 0 !important">
                <form method="post" enctype="multipart/form-data" id="formComision">
                    <div class="input-field">
                        <input type="text" name="name" id="name" />
                        <label for="name">Nombre</label>
                    </div>
                    <div class="input-field">
                        <textarea name="description" id="description" placeholder="Descripcion" style="resize:none; height:70px;"></textarea>
                    </div>
                    <div class="input-field">
                        <input type="file" name="photo" id="photo" />
                        <!-- Preview Div -->
                        <div id="divPreview" style="z-index: 10; display:none; position:absolute;">
                            <div class="card" style="width:70%;">
                                <div class="card-content">
                                    <img id="preview" style="width: 100%; margin:0 auto;" />
                                </div>
                            </div>
                        </div>
                        <!-- End Preview Div-->
                    </div>
                    <div class="input-field">
                        <input type="number" name="price" id="price" min="0" style="width: 150px" /> &nbsp; €
                        <label for="price">Precio</label>
                        <input type="hidden" name="id" value="" />
                    </div>
                    <div class="input-field">
                        <button type="submit" name="option" value="ADD" class="btn waves-effect waves-darken green">Añadir</button>
                        <button type="submit" name="option" value="UPDATE" class="btn waves-effect waves-darken orange">Modificar</button>
                        <button type="submit" name="option" value="DELETE" class="btn waves-effect waves-darken red">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m5 l5 xl5">
        <div class="card">
            <div class="card-content">
                @if (Model != null)
                {
                    foreach (COMISION comision in Model)
                    {
                    <div class="card" style="height:150px; width: 80%; margin: auto; margin-bottom:20px;">
                        <div class="card-image" >
                            <div class="box" id="@comision.ID">
                                <img src="@Url.Content(comision.PHOTO)" style="height:150px;"  draggable="true" />
                                <div class="card-title">
                                    @comision.NAME
                                </div>
                                <input type="text" name="price" value="@comision.PRICE" hidden />
                                <input type="text" name="description" value="@comision.DESCRIPTION" hidden />
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
        <button id="btnOrdenar" type="button" class="btn waves-effect waves-darken green">Ordenar</button>
    </div>
</div>

