@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundle/materializeCSS")
    
</head>
<body>
    <main class="grey lighten-4">
        <ul id="dropdownPicture" class="dropdown-content grey darken-4">
            <li>@Html.ActionLink("Subir fotos", "Partners", "photos")</li>
            <li>@Html.ActionLink("Gestionar fotos", "Works", "photos")</li>
        </ul>
        <ul id="dropdownPT" class="dropdown-content grey darken-4">
            <li>@Html.ActionLink("Participantes", "Partners", "PartnerWork")</li>
            <li>@Html.ActionLink("Trabajos", "Works", "PartnerWork")</li>
        </ul>
        <ul id="dropdownComision" class="dropdown-content grey darken-4">
            <li>@Html.ActionLink("Gestionar Comisiones", "Comision", "Comision")</li>
            <li>@Html.ActionLink("Resultados", "Comision", "Comision")</li>
        </ul>
        <ul id="dropdownSesion" class="dropdown-content grey darken-4">
            <li>@Html.ActionLink("Crear Sesion", "CreateSesion", "Sesion")</li>
            <li>@Html.ActionLink("Gestionar Sesiones", "ManageSesion", "Sesion")</li>
        </ul>
        <nav class="grey darken-4">
            <div class="nav-wrapper">
                @Html.ActionLink("Picture Manager", "menu", "admin", new { }, new { @class = "brand-logo" })
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdownPicture">Fotos<i class="material-icons right"></i></a></li>
                    <li><a a class="dropdown-trigger" href="#!" data-target="dropdownSesion">Sesiones</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdownPT">Participantes y Trabajos<i class="material-icons right"></i></a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdownComision">Comisiones<i class="material-icons right"></i></a></li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "login")</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="row"></div>
        @RenderBody()
    </main>

    <footer class="page-footer grey darken-2">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container">
                Proyecto de Clase
                <a class="grey-text text-lighten-4 right" href="#!">Sitio Web</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundle/materializeJS")

    @if (IsSectionDefined("events"))
    {
        @RenderSection("events")
    }



</body>
</html>