
@{
    ViewBag.Title = "menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{


    <link href="~/Content/styleMenu.css" rel="stylesheet" />
}
@section events {
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $("#btnParTar").click(function () {
                $("#modalParTar").modal('open');
            });
            $("#btnComision").click(function () {
                $("#modalComision").modal('open');
            });
        });
    </script>
}
<div class="row">
    <div class="col s12">
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m5 l4 xl3 offset-m3 offset-l3 offset-xl2 ">
                <div class="card">
                    <div class="card-image">
                        <div style=" margin:0 auto;"> <i class="material-icons center">insert_photo</i></div>
                    </div>
                    <div class="card-content">
                        <div class="card-action">
                            <h5 class="center-align textMenu">@Html.ActionLink("Subir Fotos", "UploadImages", "Images")</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m5 l4 xl3 offset-m3 offset-l3 offset-xl2">
                <div class="card">
                    <div class="card-image">
                        <i class="material-icons">photo_camera</i>
                    </div>
                    <div class="card-content">
                        <div class="card-action">
                            <h5 class="center-align textMenu green-text">@Html.ActionLink("Sesiones", "Sesion", "Sesion")</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5 l4 xl3  offset-m3 offset-l3 offset-xl2 btnMenu">
                <div class="card">
                    <div class="card-image">
                        <i class="material-icons">portrait</i>
                    </div>
                    <div class="card-content">
                        <div class="card-action">
                            <a class="center-align textMenu" id="btnParTar"><h5>Participantes y Trabajos</h5></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col s12 m5 l4 xl3 offset-m3 offset-l3 offset-xl2 btnMenu">
                <div class="card">
                    <div class="card-image">
                        <i class="material-icons">monetization_on</i>
                    </div>
                    <div class="card-content">
                        <div class="card-action">
                            <a class="center-align textMenu" id="btnComision"><h5>Comisiones</h5></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="modalParTar" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <a href="@Url.Action("Partners", "PartnerWork")" class="btn grey darken-3 waves-effect waves-light">Participantes</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="@Url.Action("Works", "PartnerWork")" class="btn grey darken-3 waves-effect waves-light">Trabajos</a>
            </div>
        </div>
    </div>
</div>

<div id="modalComision" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <a href="@Url.Action("Comision", "Comision")" class="btn grey darken-3 waves-effect waves-light">Comisiones</a>
            </div>
        </div>
    </div>
</div>